$('#emailModal').modal('hide');
$('nav.navbar.navbar-default').append('<div class="alert alert-success alert-dismissable fade in"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p>Message Sent.</p></div>');
