<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-12">
    <h1>About</h1>
    <p>Ashley Mast is a mother and Certifed Nurse Midwife (CNM) who has attended births at home, birth center, and hospital settings. She has experienced the profound impact of emotional preparation in allowing couples to labor, birth, and parent from the heart. She understands the impact of a good night's sleep on your family's well-being, and also appreciates how important it is to find gentle approaches to get there. Ashley is honored to be part of your journey into motherhood. </p>
  </div>
</div>

