<div class="container about-class">
  <!-- <header class="section-header">
    <h1>Your Class</h1>
  </header> -->
  <div class="row image-row">
    <div class="header-image class-pic">
      <%= image_tag("wbc9xilqb4k-tim-bish-crop.jpg") %>
    </div>
  </div>

  <header class="section-header">
    <h1>Gentle Support for a Lifetime of Healthy Sleep</h1>
  </header>

  <div class="row class-row">
    <div class="col-lg-5">
      <div class="col-inner" id="about-teacher">
        <figure class="">
          <%= image_tag("AG2.jpg") %>
          <figcaption>
            <p>Ashley Mast, CNM</p>
            <p>Nurse Midwife</p>
          </figcaption>
        </figure>
        <p>
          Ashley Guntkowski Mast has been a Registered Nurse since 2006 and a Certified Nurse Midwife since 2007. She has attended births at home, birth center, and hospital setting. She currently catches babies at Tree of Life Healthy Birthing and Parenting. Ashley is a wife and a mother to two girls born at home in 2013 and 2015.
        </p>
        <p>
          She understands the impact of a good night's sleep on your family's well-being, and also appreciates how important it is to find gentle approaches to get there. Ashley is honored to be part of your journey into motherhood.
        </p>
      </div>
    </div>
    <div class="col-lg-7 mobile-hide">
      <div class="col-inner" id="journey">
        <header>
          <h3>My Sleep Journey</h3>
        </header>
        <p>
          Having assisted countless women over many sleepless nights as a midwife, Ashley thought she would be prepared for parenthood. However, she soon found herself overwhelmed with the intensity of sleep deprivation that a baby can bring. Desperate for answers, Ashley read every book, blog, and comment she could find on infant sleep methods, and synthesized her own method which would become the foundation for Sweet Slumber.
        </p>
        <p>
          Ashley's first daughter transitioned from 4 nightwakings at 5 months old to one 5:00am feeding at 9 months old. She began sleeping through the night at 13 months.
        </p>
        <p>
          Ashley's second daughter slept through the night at 9 months old. She is still breastfeeding.
        </p>
        <p>
          All members of the Mast house are now well-rested, including the dog, who sleeps in the bed, under the covers.
        </p>
        <div class="btn-wrapper">
          <%= link_to("Find a Class", workshops_path , class: "btn btn-default") %>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row class-row" id="call-to-action">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="col-inner">
        <h3>
          Are you a bone-tired mama in need of effective methods to ease you and your baby into a little more sleep?
        </h3>
      </div>
    </div>
  </div> -->

  <div class="row class-row" id="class-desc">
    <div class="col-lg-4">
      <div class="col-inner">
        <header>
          <h3>Not Cry-It-Out</h3>
        </header>
        <p>
          The first few months of your baby's life are particulary crucial to the establishment of a trusting relationship. Sweet Slumber aims to teach gentle methods of encouraging sleep which respect and nurture your relationship with your baby.
        </p>
        <p>
          The amount of crying necessary for an infant to learn to sleep is dependent on the individual parent/baby couplet, but our mutual goal is to keep it to a minimum.
        </p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="col-inner">
        <header>
          <h3>Breastfeeding Friendly</h3>
        </header>
        <p>
          Sweet Slumber does not recommend weaning or switching to formula-feeding as effective methods of helping babies to sleep. On the contrary, we strive to develop sleep solutions regardless of your baby's feeding methods.
        </p>
        <p>
          We trust all mamas are feeding their babies with love, and encourage a non-judgemental class environment.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="col-inner">
        <header>
          <h3>Personalized Plan</h3>
        </header>
        <p>
          At Sweet Slumber, we believe babies under 4 months need to be eating all night long. Therefore, our workshops are designed for babies aged 4 to 12 months. Within this range, we will tailor an age-appropriate plan to help you and your baby get quality sleep.
        </p>
        <p>
          We are here to support you and your baby on your journey to sweet slumber.
        </p>
      </div>
    </div>
  </div>
  <div class="row mobile-show" id="mobile-cta">
    <%= link_to("Find a Class", workshops_path, class: 'btn btn-default') %>
  </div>
</div>
