<div class="container contact">
  <div class="row contact-row">
    <div class="col-lg-8 col-lg-offset-2">
      <header class="section-header">
        <h1>Contact Sweet Slumber</h1>
      </header>
      <div class="col-inner">
        <p>Are you wondering if Sweet Slumber is a good choice for you and your family?</p>
        <p>Please contact us at sweetslumberworkshops@gmail.com with questions.</p>
      </div>
    </div>
  </div>
</div>
