<div class="row">
  <div class="col-lg-4">
    <div class="col-header">
      <h2>A Column</h2>
    </div>
    <div class="col-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra feugiat mauris, vel venenatis ex efficitur eget. Praesent ullamcorper rutrum purus vitae semper. Nulla facilisi. Duis mollis justo neque, a consectetur velit suscipit id. Nunc accumsan, nunc a volutpat rhoncus, purus augue interdum odio, in malesuada quam justo eu erat. In hac habitasse platea dictumst. Proin vitae augue quis dui pharetra mollis sed nec tortor. Suspendisse rhoncus quam non imperdiet facilisis.</p>
    </div>
  </div><div class="col-lg-4">
    <div class="col-header">
      <h2>A Column</h2>
    </div>
    <div class="col-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra feugiat mauris, vel venenatis ex efficitur eget. Praesent ullamcorper rutrum purus vitae semper. Nulla facilisi. Duis mollis justo neque, a consectetur velit suscipit id. Nunc accumsan, nunc a volutpat rhoncus, purus augue interdum odio, in malesuada quam justo eu erat. In hac habitasse platea dictumst. Proin vitae augue quis dui pharetra mollis sed nec tortor. Suspendisse rhoncus quam non imperdiet facilisis.</p>
    </div>
  </div><div class="col-lg-4">
    <div class="col-header">
      <h2>A Column</h2>
    </div>
    <div class="col-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra feugiat mauris, vel venenatis ex efficitur eget. Praesent ullamcorper rutrum purus vitae semper. Nulla facilisi. Duis mollis justo neque, a consectetur velit suscipit id. Nunc accumsan, nunc a volutpat rhoncus, purus augue interdum odio, in malesuada quam justo eu erat. In hac habitasse platea dictumst. Proin vitae augue quis dui pharetra mollis sed nec tortor. Suspendisse rhoncus quam non imperdiet facilisis.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="col-header">
      <h2>A Column</h2>
    </div>
    <div class="col-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra feugiat mauris, vel venenatis ex efficitur eget. Praesent ullamcorper rutrum purus vitae semper. Nulla facilisi. Duis mollis justo neque, a consectetur velit suscipit id. Nunc accumsan, nunc a volutpat rhoncus, purus augue interdum odio, in malesuada quam justo eu erat. In hac habitasse platea dictumst. Proin vitae augue quis dui pharetra mollis sed nec tortor. Suspendisse rhoncus quam non imperdiet facilisis.</p>
    </div>
  </div><div class="col-lg-4">
    <div class="col-header">
      <h2>A Column</h2>
    </div>
    <div class="col-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra feugiat mauris, vel venenatis ex efficitur eget. Praesent ullamcorper rutrum purus vitae semper. Nulla facilisi. Duis mollis justo neque, a consectetur velit suscipit id. Nunc accumsan, nunc a volutpat rhoncus, purus augue interdum odio, in malesuada quam justo eu erat. In hac habitasse platea dictumst. Proin vitae augue quis dui pharetra mollis sed nec tortor. Suspendisse rhoncus quam non imperdiet facilisis.</p>
    </div>
  </div><div class="col-lg-4">
    <div class="col-header">
      <h2>A Column</h2>
    </div>
    <div class="col-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra feugiat mauris, vel venenatis ex efficitur eget. Praesent ullamcorper rutrum purus vitae semper. Nulla facilisi. Duis mollis justo neque, a consectetur velit suscipit id. Nunc accumsan, nunc a volutpat rhoncus, purus augue interdum odio, in malesuada quam justo eu erat. In hac habitasse platea dictumst. Proin vitae augue quis dui pharetra mollis sed nec tortor. Suspendisse rhoncus quam non imperdiet facilisis.</p>
    </div>
  </div>
</div>

