<div class="row">
  <header class="section-header">
    <h1>Get the rest you need to take the best care of your baby.</h1>
  </header>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="col-header">
      <h2>Personalized</h2>
    </div>
    <div class="col-content">
      <p>The first few months of your baby's life are particulary crucial to the establishment of a trusting relationship. Little ones are completely dependent on their caretakers and should feel that their needs will be met. However, many infants develop an association between eating and sleep that can hinder their ability to get quality rest.  </p>
    </div>
  </div><div class="col-lg-4">
    <div class="col-header">
      <h2>Breastfeeding Friendly</h2>
    </div>
    <div class="col-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra feugiat mauris, vel venenatis ex efficitur eget. Praesent ullamcorper rutrum purus vitae semper. Nulla facilisi. Duis mollis justo neque, a consectetur velit suscipit id. Nunc accumsan, nunc a volutpat rhoncus, purus augue interdum odio, in malesuada quam justo eu erat. In hac habitasse platea dictumst. Proin vitae augue quis dui pharetra mollis sed nec tortor. Suspendisse rhoncus quam non imperdiet facilisis.</p>
    </div>
  </div><div class="col-lg-4">
    <div class="col-header">
      <h2>When your child is ready</h2>
    </div>
    <div class="col-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra feugiat mauris, vel venenatis ex efficitur eget. Praesent ullamcorper rutrum purus vitae semper. Nulla facilisi. Duis mollis justo neque, a consectetur velit suscipit id. Nunc accumsan, nunc a volutpat rhoncus, purus augue interdum odio, in malesuada quam justo eu erat. In hac habitasse platea dictumst. Proin vitae augue quis dui pharetra mollis sed nec tortor. Suspendisse rhoncus quam non imperdiet facilisis.</p>
    </div>
  </div>
</div>


