<div class="row" id="resources-row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Resources</h1>

    <a href="http://community.babycenter.com/post/a5417415/how_to_successfully_teach_a_baby_to_sleep_-_3rd_ed">
      <h3>How to Successfully Teach a Baby to Sleep</h3>
    </a>

    <a href="https//docs.google.com/document/d/11GHo4keUb2TVJUlSL1kD6HQcEgaNFBmzoQoOzcpcyas/mobilebasic?authkey=CPXE1bsO&pli=1&hl=en">
      <h3>Sleep/Wake Time Chart- Community BabyCenter</h3>
    </a>

    <a href="http//community.babycenter.com/post/a51116617/sample_sleep_schedules_faq">
      <h3>Sample Sleep Schedules and FAQs</h3>  
    </a>

    <a href="http//www.thealphaparent.com/2013/01/timeline-of-baby-and-toddler-sleep.html">
      <h3>Timeline of Baby and Toddler Sleep</h3>
    </a>

    <a href="http//www.troublesometots.com/what-you-need-to-know-about-sleeping-through-the-night-part-i/(make sure to check out part 2 and part 3)">
      <h3>What You Need to Know About STTN</h3>  
    </a>

    <a href="http//www.troublesometots.com/sleep-training-case-study-part-1/(make sure to check out part 2)">
      <h3>Her Story, Your Story A Study in Sleep Training</h3>
    </a>

    <!-- <h3>When Your Baby Wakes Frequently to Feed The Pantley Pull-Off</h3> -->
    <!-- (facebook won't let me post this link but I emailed it to all of you) -->

    <a href="http//www.babysleepsite.com/Guides/BabySleepSite_5WaysToSTTN.pdf">
      <h3>Five Ways to Help Your Child STTN</h3>  
    </a>

    <a href="http//www.janetlansbury.com/2014/10/3-baby-sleep-stories-and-what-we-can-learn-from-them/">
      <h3>Three Baby Sleep Stories (And What We Can Learn from Them)</h3>
      
    </a>

    <a href="http//thehappysleeper.com/wp-content/uploads/example_HappySleeper_Sleep_Wave_Planner.pdf
    ">
      <h3>HappySleeper SleepWave Plan</h3>  
    </a>

    <a href="http//www.magdagerber.org/blog/helping-your-baby-to-get-the-sleep-she-needs
    ">
      <h3>Helping Your Baby to Get the Sleep She Needs</h3>  
    </a>

    <a href="http//moxie.blogs.com/askmoxie/2006/06/babies_and_cio.html
    ">
      <h3>Tension Releaser v Tension Increaser</h3>  
    </a>


  </div>
</div>
