<div class="row" id="resources-row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1>Resources</h1>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a data-toggle="tab" href="#articles">Articles</a></li>
      <li role="presentation"><a data-toggle="tab" href="#nap-schedules">Sample Nap Schedules</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="articles">
        <h3>Articles</h3>
        <h4>Sleep Learning</h4>

        <a href="http://www.drmomma.org/2009/09/no-cry-sleep-solution-gentle-ways-to.html" target="_blank">
          <h5>The No-Cry Sleep Solution: When Your Baby Wakes Frequently</h5>
        </a>

        <a href="http://community.babycenter.com/post/a5417415/how_to_successfully_teach_a_baby_to_sleep_-_3rd_ed" target="_blank">
          <h5>How to Successfully Teach a Baby to Sleep</h5></a>

        <a href="http://www.troublesometots.com/what-you-need-to-know-about-sleeping-through-the-night-part-i" target="_blank">
          <h5>What You Need to Know About Sleeping Through The Night - See parts 1, 2, 3</h5>
        </a>

        <a href="http://www.troublesometots.com/sleep-training-case-study-part-1" target="_blank">
          <h5>Her Story, Your Story A Study in Sleep Training - See parts 1, 2</h5></a>

        <a href="http://www.babysleepsite.com/Guides/BabySleepSite_5WaysToSTTN.pdf" target="_blank">
          <h5>Five Ways to Help Your Child Sleep Through The Night</h5>
        </a>

        <a href="http://www.janetlansbury.com/2014/10/3-baby-sleep-stories-and-what-we-can-learn-from-them/" target="_blank">
          <h5>Three Baby Sleep Stories (And What We Can Learn from Them)</h5>
        </a>

        <a href="http://thehappysleeper.com/wp-content/uploads/example_HappySleeper_Sleep_Wave_Planner.pdf
        " target="_blank">
          <h5>HappySleeper SleepWave Plan</h5>
        </a>

        <a href="http://www.magdagerber.org/blog/helping-your-baby-to-get-the-sleep-she-needs
        " target="_blank">
          <h5>Helping Your Baby to Get the Sleep She Needs</h5>
        </a>

        <a href="http://moxie.blogs.com/askmoxie/2006/06/babies_and_cio.html
        " target="_blank">
          <h5>Tension Releaser vs. Tension Increaser</h5>
        </a>

        <a href="http://www.thealphaparent.com/2013/01/timeline-of-baby-and-toddler-sleep.html" target="_blank">
          <h5>Timeline of Baby and Toddler Sleep</h5></a>

        <a href="http://drjaygordon.com/attachment/sleeppattern.html" target="_blank">
          <h5>Sleep, Changing Patterns in the Family Bed</h5>
        </a>

        <h4>Logging/Schedules</h4>

        <a href="https://docs.google.com/document/d/11GHo4keUb2TVJUlSL1kD6HQcEgaNFBmzoQoOzcpcyas/mobilebasic?authkey=CPXE1bsO&pli=1&hl=en" target="_blank">
          <h5>Sleep/Wake Time Chart- Community BabyCenter</h5></a>

        <a href="http://community.babycenter.com/post/a51116617/sample_sleep_schedules_faq" target="_blank">
          <h5>Sample Sleep Schedules and FAQs</h5>
        </a>

        <h4>Naps</h4>

        <a href="http://www.babysleepsite.com/Guides/BabySleepSite_CommonNappingMistakes.pdf" target="_blank">
          <h5>Common Napping Mistakes</h5>
        </a>

        <a href="http://www.hellobee.com/tag/nap-training/" target="_blank">
          <h5>Nap Training (these stories generally involve *some* crying)</h5>
        </a>

        <a href="http://www.troublesometots.com/your-nemesis-the-short-nap/" target="_blank">
          <h5>Your Nemesis, The Short Nap</h5>
        </a>

        <a href="http://sleeplady.com/napping/naptime-tips/" target="_blank">
          <h5>Baby Sleep Solutions: Nap Time Tips!</h5>
        </a>

        <a href="http://sleeplady.com/napping/naptime-tips/" target="_blank">
          <h5>SleepLady - Naptime Tips</h5>
        </a>

        <a href="http://community.babycenter.com/post/a22302337/at_what_age_do_babies_typically_drop_their_3rd_nap" target="_blank">
          <h5>At What Age do Babies Typically Drop Their 3rd Nap (see BabeGirlMom's Answer)</h5>
        </a>

        <h4>Bedtime</h4>

        <a href="http://www.sleepsisters.com/bedtimes-by-age/" target="_blank">
          <h5>Sleep Sisters - Bedtimes by Age</h5>
        </a>

        <a href="http://www.troublesometots.com/bedtime-what-time/" target="_blank">
          <h5>Troublesome Tots - Bedtime What Time</h5>
        </a>

        <a href="http://www.troublesometots.com/bedtime/" target="_blank">
          <h5>Troublesome Tots - Bedtime</h5>
        </a>

        <h4>Le Pause</h4>

        <a href="https://www.midwiferytoday.com/articles/newsleep.asp" target="_blank">
          <h5>Midwifery Today - New Born Babies and Sleep (see "Waking for Night Feedings")</h5>
        </a>

        <h4>Sleep Regressions</h4>

        <a href="http://www.babysleepsite.com/baby-sleep-patterns/baby-sleep-regression-phase-habit/" target="_blank">
          <h5>Is Your Baby Going Through a Sleep Regression, a Phase, or Is It a Habit?</h5>
        </a>

        <a href="http://www.hellobee.com/2012/11/12/surviving-a-sleep-regression/" target="_blank">
          <h5>Surviving a Sleep Regression</h5>
        </a>

        <a href="http://www.troublesometots.com/the-thing-about-sleep-regressions/" target="_blank">
          <h5>The Thing about Sleep Regressions</h5>
        </a>

      </div>
      <div class="tab-pane" id="nap-schedules">
        <h3>Sample Nap Schedules</h3>
        <div class="row">
          <div class="col-lg-6">
            <h4>4 Months</h4>
            <ul>
              <li>7:00 wu</li>
              <li>8:15 nap #1 (wt 1h 15m)</li>
              <li>9:15 wu (st 1h)</li>
              <li>11:00 nap #2 (wt 1h 45m)</li>
              <li>12:00 wu (st 1h)</li>
              <li>1:45 nap #3 (wt 1h 45m)</li>
              <li>2:45 wu (st 1h)</li>
              <li>4:30 catnap (wt 1h 45m)</li>
              <li>5:15 wu (st 45m)</li>
              <li>7:00 asleep (wt 1h 45m)</li>
              <li>~~~Total Day Sleep Time: 3h 45m</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <h4>5 Months</h4>
            <ul>
              <li>7:00 wu</li>
              <li>8:45 nap #1 (wt 1h 45m)</li>
              <li>10:15 wu (st 1h 30m)</li>
              <li>12:15 nap #2 (wt 2h)</li>
              <li>1:45 wu (st 1h 30m)</li>
              <li>3:45 nap #3 (wt 2h)</li>
              <li>4:45 wu (st 1h)</li>
              <li>6:45 asleep (wt 2h)</li>
              <li>~~~Total Day Sleep Time: 4h</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h4>6 Months</h4>
            <ul>
              <li>7:00 wu</li>
              <li>8:45 nap #1 (wt 1h 45m)</li>
              <li>10:15 wu (st 1h 30m)</li>
              <li>12:30 nap #2 (wt 2h 15m)</li>
              <li>1:45 wu (st 1h 15m)</li>
              <li>4:00 catnap (wt 2h 15m)</li>
              <li>4:45 wu (st 45m)</li>
              <li>7:00 asleep (wt 2h 15m)</li>
              <li>~~~Total Day Sleep Time: 3h 30m</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <h4>7 Months</h4>
            <ul>
              <li>7:00 wu</li>
              <li>8:45 nap #1 (wt 1h 45m)</li>
              <li>10:15 wu (st 1h 30m)</li>
              <li>12:30 nap #2 (wt 2h 15m)</li>
              <li>2:00 wu (st 1h 30m)</li>
              <li>4:15 catnap (wt 2h 15m)</li>
              <li>4:45 wu (st 30m)</li>
              <li>7:00 asleep (wt 2h 15m)</li>
              <li>~~~Total Day Sleep Time: 3h 30m</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h4>8 - 13 Months</h4>
            <p>*At 8 months old, naps go BTC (by the clock instead of sleep cues). Assume 7pm bedtime and 7am wakeup.</p>
            <p>Nap Times:</p>
            <ul>
              <li>8 months: 9am and 2pm</li>
              <li>9 months: 9:30am and 2:30pm</li>
              <li>10 months: 10am and 3pm</li>
              <li>11 months: 10:30am and 3:30pm</li>
              <li>12 months: 11/11:30am </li>
              <li>13 months: noon</li>
            </ul>
          </div>
          <div class="col-lg-6">
          <br>
          <br>
            <p>*Remember that before 8 months we are being led by baby's cues, not by the clock. Put your baby down when they seem tired, or when they have reached their max wake-time, whichever comes first.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

