/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* colors */

$orange: #db9462;
$orange-darker: #b76d39;
$orange-darkest: #914b19;
$orange-lighter: #ffc49a;
$orange-lightest: #ffdbc2;

$purple: #734793;
$purple-darker: #5a2c7b;
$purple-darkest: #421662;
$purple-lighter: #926dad;
$purple-lightest: #bda2d1;

body {
  background-color: $orange-lightest;
}


/* NAV */
nav.navbar.navbar-default {
  background-color: $orange-lighter;
  border: none;
  color: $purple-darkest;
}
