/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables.bootstrap
 *= require jquery.dataTables
 *= require responsive.bootstrap
 *= require fixedHeader.dataTables
 *= require fixedHeader.bootstrap
 *= require slick
 *= require slick-theme
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


@import url('https://fonts.googleapis.com/css?family=Princess+Sofia|Raleway:400,900');

/* */
$princess: 'Princess Sofia', cursive;
$raleway: 'Raleway', sans-serif;




/* colors */

$orange: #db9462;
$orange-darker: #EA844B;
$orange-darkest: #914b19;
$orange-lighter: #ffc49a;
$orange-lightest: #ffdbc2;
$orange-lighter-trans: rgba(255, 255, 255, 0.225);

$purple: #734793;
$purple-darker: #5a2c7b;
$purple-darkest: #210335;
$purple-lighter: #926dad;
$purple-lightest: #bda2d1;

$yellow: #ffeeaa;

$white25: rgba(255, 255, 255, 0.25);
$white50: rgba(255, 255, 255, 0.5);
$white75: rgba(255, 255, 255, 0.75);

// $green: #81D170;
// $green: #93BB8A;
// $green: #73996B;
$green: #81B077;

$overlay: linear-gradient(45deg, rgba(255,196,154, 0.95), rgba(189,162,209, 0.95));
$purple-overlay: linear-gradient(45deg, rgba(189,162,209, 0.75), rgba(189,162,209, 0.75));
$image-overlay: linear-gradient(180deg, rgba(33, 3, 53, 0.25), rgba(33, 3, 53, 0.25));
$dark-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
$carousel-overlay: linear-gradient(90deg, rgba($green, 0), $green 40%);

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  width: auto;
  background: $dark-overlay, asset_url('space-pic-crop.jpeg');
  background-attachment: fixed;
  padding-bottom: 45px;
}

h1, h2, h3, h4, p, a, td, th, label {
  font-family: $raleway;
}

p, a, td, th {
  font-size: 16px;
}

a {
  color: $yellow;
}

a:hover, a:focus {
  color: $yellow;
}

.table > thead > tr > th {
  letter-spacing: 2px;
}

th {
  font-size: 18px;
  font-weight: 400;
}

label {
  letter-spacing: 1px;
}

.btn-default {
  border:2px solid $purple-lighter;
  background-color: transparent;
  color: white;
}

.btn-warning {
  background-color: darken(red, 3%);
  border: none;
}

.btn-warning:hover, .btn-warning:active,
.btn-warning:focus, .btn-warning:active:focus, {
  color: #fff;
  background-color: darken(red, 10%);
  border: none;
  outline: 0;
}

.btn-primary:hover, .btn-primary:active,
.btn-primary:focus, .btn-primary:active:focus {
  outline: 0;
}


.btn-default:hover, .btn-default:active,
.btn-default:focus {
  border:2px solid $purple-lighter;
  background-color: $white25;
  color: white;
}

.btn-carousel {
  border: 2px solid $green;
  background-color: transparent;
  color: white;
}

.btn-carousel:hover, .btn-carousel:active,
.btn-carousel:focus {
  border: 2px solid $green;
  background-color: $white25;
  color: white;
}

.btn-danger {
  border:2px solid red;
  background-color: transparent;
  color: white;
}

.btn-danger:hover {
  border:2px solid red;
  background-color: $white25;
  color: white;
}

.form-row .btn.btn-default {
  margin-top: 25px;
}

header.brand, header.section-header {
  text-align: center;
}

.brand > h1, .section-header > h1 {
  font-family: $princess;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-header > h1 {
  font-family: $raleway;
  font-size: 36px;
}

.navbar-nav > li > .dropdown-menu {
  background-color: $purple-lightest;
  color: white;
  border: none;
  margin-top: 4.5px;
}

.form-head.margin-bottom {
  margin-bottom: 45px;
}

.alert {
  margin-bottom: 0;
  text-align: center;
}

/* NAV */
#navbar {
  text-align: center;
}

.nav.navbar-nav.centered {
  display: inline-block !important;
  margin:0;
  float:none;
}

.navbar {
  min-height: 30px;
}

.navbar-default {
  background-color: $purple-lighter;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.collapse-button {
  padding-right: 10px;
}

.navbar-default .navbar-toggle {
  border: 2px solid black;
  margin-right: 15px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  background-color: $white25;
}

.navbar-default .navbar-toggle .icon-bar {
  color: black;
  background-color: black;
}


.navbar-text {
  margin: 0 0 0 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-text.navbar-right > li > a {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  color: black;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-text.navbar-right > li > a:hover,
.navbar-text.navbar-right > li > a:focus {
  background-color: inherit;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: inherit;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: inherit;
}

/* CONTAINERS */
.container-fluid.full-width {
  padding: 0 0 0 0;
}
#header-container {
  background: $purple-overlay, asset_url('space-pic-crop.jpeg');
}

#main-content {
  // background: rgba(0, 0, 0, 0.5);
  color: white;
  min-height: 100%;
  // min-height: 100%;
  // padding-bottom: 60px;
}

#content {
  // margin-top: 45px;
}

.row {
  // margin-top: 30px;
}

.row.form-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row.carousel-row {
  margin: 30px 0 0 0;
}

.image-row .class-pic {
  overflow-y: hidden;
}

#home .image-row {
  margin-top: 30px;
}

.class-pic img {
  border-radius: 10px;
  max-width: 100%
}


.carousel {
  height: 350px;
  width: 100%;
}

.carousel .carousel-img {
  height: 100%;
  width: 100%;
}

.slick-slide img.mobile-show {
  display: none;
}

.carousel .carousel-img:after {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.carousel > .button-container {
  position: absolute;
  bottom: 0px;
  right: 7px;
  left: 0px;
  text-align: right;
  z-index: 3;
}

.carousel > .button-container > .btn.btn-carousel {
  font-size: 18px;
  padding: 18px 30px 18px 30px;
}

.carousel .text-overlay {
  position: absolute;
  bottom: 0;
  right: 175px;
  // height: 75px;
  width: 84%;
  color: lighten(black, 10%);
  background: $carousel-overlay;
  z-index: 3;
  text-align: right;
  padding: 15px 15px 15px 15px;
}

.carousel .text-overlay > h2 {
  margin: 0 0 0 0;
}

.test {
  // border: 2px solid $purple-lightest;
  background-color: rgba($purple-lightest, 0.75);
  border-radius: 10px;
  height: 363px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
    margin-bottom: 15px;
}

#stripe_error {
  color: red;
}

.center-text {
  text-align: center;
}
// #main-content h1, #main-content h2, #main-content h3 {
//   color: $purple-lighter;
// }

.col-header {
  text-align: center;
}

.page-header > h1 {
  font-family: $princess;
  font-size: 45px;
  // margin-top: 30px;
  // margin-bottom: 30px;
}

.disclaimer-container {
  border: 2px solid red;
  // background-color: rgba(red, 0.75);
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
}

/* MODALS */
.modal p, .modal a, .modal h4, .modal label {
  color: black;
}

/* TABLES */

.table > thead > tr > th {
  border-bottom: none;
}

.table.datatable {
  background-color: transparent;
}

table.dataTable tbody tr {
  background-color: transparent;
}

.dataTables_filter label {
  color: white;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white;
}

table.dataTable.no-footer {
  border: none;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-color: $orange-lighter-trans;
}


#invoice {
  color: black;
}

#invoice p,
#invoice a,
#invoice .table th,
#invoice .table td {
  font-size: 14px;
}

#invoice .table tfoot > tr > td{
  border-top: 1px solid black;
}

.row#call-to-action > header > a {
  padding: 15px 35px 15px 35px;
}

.row#call-to-action > header > a > h2 {
  margin: 0 0 0 0;
}

.row#testimonials {
  margin-top: 30px;
}

.row#testimonials .col-inner {
  // height: 225px;
  background: rgba($purple-lighter, 0.65);
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
}

.row#testimonials .col-inner > h4 {
  line-height: 25px;
}

.row#testimonials span.heavy-quote {
  width: 40px;
  height: 40px;
}

.row#testimonials span.heavy-quote.open {
  content: asset_url('open-quote.png');
}

.row#testimonials span.heavy-quote.closed {
  position: absolute;
  bottom: 0;
  right: 15px;
  content: asset_url('close-quote.png')

}

.row#testimonials h3 {
  margin: 0 0 10px 0;
}
/* FORMS */

select {
  color: black;
}

.form-group.form-inline.remember > input,
.form-group.form-inline.remember > label  {
  margin-top: 0;
  margin-bottom: 0;
}

/* IMAGES*/
.image-wrapper {
  background: $orange-lighter-trans;
  height: 363px;
  border-radius: 5px;
}

.image-wrapper#one {
  background: url("baby-crop.jpeg");
  background-size: 100% 100%;
}

.image-wrapper#two {
  background: url("sleep-kid-crop.jpg");
  background-size: 100% 100%;
}

.image-wrapper#three {
  background: url("baby-hand-crop.jpg");
  background-size: 100% 100%;
}

.image-text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.image-text-overlay > h1 {
}

/*ABOUT CLASS*/

.about-class .row {
  margin-top: 30px;
}

.about-class .col-inner#about-teacher {
  border: 2px solid $purple-lightest;
  border-radius: 10px;
}

.class-row .col-inner {
  padding: 10px 10px;
  border-radius: 10px;
}

.class-row .col-inner:after {
  content: "";
  display: table;
  clear: both;
}

.class-row .col-inner > figure {
  padding: 10px 10px;
  float: left;
  max-width: 40%;
}

.class-row .col-inner > figure > img {
  margin-bottom: 5px;
}

.class-row .col-inner > figure > figcaption {
  border-radius: 10px;
  padding: 10px 10px;
  background-color: rgba($green, 0.75);
  text-align: center;
}

.class-row .col-inner > figure > figcaption > p {
  font-size: 12px;
  margin-bottom: 1px;
}

.class-row .col-inner > figure > img {
  max-width: 100%;
  border-radius: 10px;
}

.class-row .col-inner > header > h3 {
  margin-top: 0;
}

#journey > header > h3 {
  margin-top: -10px;
  color: $purple-lighter;
  border-bottom: 1px solid $purple;
}

#journey .btn-wrapper {
  text-align: center;
}

#journey .btn-wrapper > a {
  padding-left: 30px;
  padding-right: 30px;
}

.class-row#class-desc .col-inner {
  background-color: rgba($purple-lightest, 0.75);
  min-height: 308px;
}

.class-row#class-desc .col-inner > header {
  border-bottom: 2px solid $purple;
  text-align: center;
  margin-bottom: 10px;
}

.class-row#class-desc .col-inner > header > h3 {
  color: $purple-darker;
}

.class-row#class-desc .col-inner > p {
  color: $purple-darkest;
}

#quote {
  margin-top: 45px;
  text-align: center;
}

#quote i {
  font-family: $princess;
  color: $purple-lighter;
  font-size: 45px;
}

#quote h2 {
  margin-top: 0;
  font-family: $princess;
}

#disclaimer {
  text-align: center;
}

/* CONTACT */
.row.contact-row {
  margin-top: 30px;

}

.contact-row .col-inner {
  text-align: center;
  border: 2px solid $purple-lighter;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

/* RESOURCES */
.row#resources-row {
  text-align: center;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: transparent;
  color: $yellow;
  border: 2px solid $purple-lighter;
}


.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  color: $yellow;
  // border: 2px solid $purple-lighter;
}

#resources-row .tab-content {
  border: 2px solid $purple-lighter;
  border-radius: 0 0 10px 10px;
}

.tab-content .tab-pane > h3 {
  border-bottom: 2px solid $purple-lighter;
  margin-left: 30px;
  margin-right: 30px;
}

#nap-schedules ul {
  list-style-type: none;
  padding-left: 0;
}

#nap-schedules h4 {
  border-bottom: 1px solid white;
  margin-left: 30px;
  margin-right: 30px;
}


/* DESKTOP */
@media (min-width: 768px) {
  .navbar-right > li {
    position: absolute;
    right:0;
  }

  .navbar-header > h2 {
    display: none;
  }

  /* about teacher*/
  .about-teacher .teacher-row {
    height: 356px;
  }

  .teacher-row [class*='col-'] {
    height: 100%;
  }

  .mobile-show {
    display: none;
  }
}

/* MOBILE */

@media screen and (max-width: 736px) {
  .row.mobile-hide {
    display: none;
  }

  .class-row .mobile-hide {
    display: none;
  }

  .section-header > h1 {
    font-size: 28px;
  }

  .mobile-show#mobile-cta {
    display: block;
    text-align: center;
  }

  .mobile-show#mobile-cta > a {
    width: 100%;
    font-size: 25px;
  }

  .mobile-show#mobile-class-btn {
    margin-bottom: 15px;
  }

  /* NAV */
  .navbar-header > h2 {
    margin: 0 0 0 10px;
  }

  .navbar-header > h2 > .navbar-brand {
    font-family: $princess;
    font-size: 28px;
    color: black;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $purple-darkest;
  }

  .nav.navbar-nav.centered {
    width: 100%;
  }

  .navbar-nav.centered .open .dropdown-menu {
    margin-bottom: 0;
  }

  .navbar-nav .open .dropdown-menu {
    margin-bottom: -11px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: black;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: $purple-lightest;
  }

  /* CONTAINERS */

  header.brand {
    display: none;
  }
  .carousel > .text-overlay {
    right: 0;
    bottom: 0;
    top: 75%;
    width: 100%;
    background: rgba($green, 0.75);
    text-align: center;
    color: black;
  }

  .carousel > .text-overlay > h2 {
    font-size: 18px;
  }

  .carousel > .button-container {
    text-align: center;
  }

  .carousel > .button-container > .btn.btn-carousel {
    border: none;
    padding: 10px 15px 10px 15px;
    margin-bottom: 7px;
  }

  .carousel#baby-hand {
    background-image: asset_url('baby-hand-mobile.jpeg');
  }

  .carousel#baby-feet {
    background-image: asset_url('n131ups3hog-amanda-jordan-mobile.jpg');
  }

  .carousel#mommy-baby {
    background-image: asset_url('g6neij8rqmg-amanda-jordan-mobile.jpg');
  }

  .slick-slide img.mobile-hide {
    display: none;
  }

  .slick-slide img.mobile-show {
    display: block;
  }

  .row#testimonials .col-inner {
    margin-bottom: 20px;
  }

  .row#call-to-action > header > a {
    width: 100%;
  }

  .disclaimer-container {
    text-align: center;
    margin-bottom: 30px;
  }

  /* ABOUT CLASS*/
  #class-desc [class*='col-'] {
    margin-bottom: 30px;
  }

  .class-row#class-desc .col-inner {
    min-height: 0;
  }
}
